* {
  box-sizing: border-box;
}

.cards {
  display: block;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  flex-direction: row !important;
  margin-top: 20px;
  width: 800px;
  height: 400px;
  left: 695px;
  top: 150px;
}
 .card1 {
  display: flex;
  position: absolute;
  width: 100px;
  height: 300px;
  background-color: rgb(233, 245, 245);
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  opacity: 0.9;
  box-shadow: 3px 3px 11px rgb(209, 154, 82);
  /* background-image: url(/src/images/chelo.png); */
  top: 50px;
  right: 9580px;
}
 .card2 {
  display: flex;
  position: absolute;
  width: 100px;
  height: 300px;
  background-color: rgb(233, 245, 245);
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  opacity: 0.9;
  box-shadow: 3px 3px 11px rgb(209, 154, 82);
  top: 50px;
  right: 9550px;
  /* background-image: url(/src/images/kim.png); */
}
.card3 {
  display: flex;
  position: absolute;
  width: 100px;
  height: 300px;
  background-color: rgb(233, 245, 245);
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  opacity: 0.9;
  box-shadow: 3px 3px 11px rgb(209, 154, 82);
  top: 50px;
  right: 3580px;
  /* background-image: url(/src/images/bergerchese.png); */
}

.card4 {
  display: flex;
  position: absolute;
  width: 100px;
  height: 300px;
  background-color: rgb(233, 245, 245);
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  opacity: 0.9;
  box-shadow: 3px 3px 11px rgb(209, 154, 82);
  top: 50px;
  right: 9550px;
  /* background-image: url(/src/images/morasa.png); */
}
.card5 {
  display: flex;
  position: absolute;
  width: 100px;
  height: 300px;
  background-color: rgb(233, 245, 245);
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  opacity: 0.9;
  box-shadow: 3px 3px 11px rgb(209, 154, 82);
  top: 50px;
  right: 3580px;
  /* background-image: url(/src/images/Pizza-Calzone.png); */
}

.show {
  display: flex;
  position: absolute;
  width: 600px;
  height: 400px;
  background-color: rgb(233, 245, 245);
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 0px;
  opacity: 1;
  z-index: 2;
  box-shadow: 3px 3px 11px rgb(209, 154, 82);
  top: 10px;
  right: 52%;
  cursor: pointer;
}

img{
  display: flex;
  position: absolute;
  width: 600px;
  cursor: pointer;
  height: 400px;
  background-color: rgb(233, 245, 245);
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 0px;
  opacity: 1;
  z-index: 6;
  box-shadow: 3px 3px 11px rgb(209, 154, 82);
  top: 0px;
  right: 0;
}

@media (max-width : 500px) {
  
  .card{
    opacity: 0;
  }
  .cards{
    /* right: -495px !important; */
    transform: scale(.9);
  }
  .show{
    width: 450px;
    height: 250px;
    opacity: 1;
    right: 1155px;
    top: -120px;
  }
  img{
    width: 450px;
    height: 250px;
    cursor: pointer;
  }
}

